<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/dashboard">
        <div class="sidebar-brand-text mx-3">Add RLOM Logo</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="/dashboard">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <ul class="nav nav-pills">
        <!-- Media Dropdown -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                aria-expanded="false"><i class="fas fa-fw fa-film"></i>Media</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/media">Add Media</a></li>
                <li><a class="dropdown-item" href="#">Media Library</a></li>
            </ul>
        </li>

        <!-- Posts Dropdown -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                aria-expanded="false"><i class="fas fa-edit"></i>Posts</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">All Posts</a></li>
                <li><a class="dropdown-item" href="#">New Posts</a></li>
            </ul>
        </li>

        <!-- Categories Dropdown -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                aria-expanded="false"><i class="fas fa-th-large"></i>Categories</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">All Categories</a></li>
                <li><a class="dropdown-item" href="#">New Category</a></li>
            </ul>
        </li>

        <!-- Tags Dropdown -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                aria-expanded="false"><i class="fas fa-tags"></i>Tags</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">All Tags</a></li>
                <li><a class="dropdown-item" href="#">New Tag</a></li>
            </ul>
        </li>

        <!-- Pages Dropdown -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                aria-expanded="false"><i class="fas fa-file"></i>Pages</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">All Pages</a></li>
                <li><a class="dropdown-item" href="#">New Page</a></li>
            </ul>
        </li>
    </ul>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
</ul>
<!-- End of Sidebar -->